<%= simple_form_for @recipe do |f| %>
<%= f.input :image %>
<%= f.input :title %>
<%= f.input :description %>
<br><br>

<h2> Ingredients </h2>
<div id='ingredients'>
<%= f.simple_fields_for :ingredients do |ingredient| %>
<%= render 'ingredients_fields', :f => ingredient %>
<% end %>
<div class='links'>
<%= link_to_add_association 'Add Ingredient', f, :ingredients, :partial => 'ingredients_fields' %>
</div></div>
<br><br>

<h2> Directions </h2>
<div id='directions'>
<%= f.simple_fields_for :directions do |direction| %>
<%= render 'directions_fields', :f => direction %>
<% end %>
<div class='links'>
<%= link_to_add_association 'Add Step', f, :directions, :partial => 'directions_fields' %>
</div></div>

<%= f.button :submit %>
<% end %>

