<h1> <%= @recipe.title %> </h1>
<p><%= image_tag @recipe.image.url(:medium) %></p>
<p> <%= @recipe.description %> </p>

<%= link_to "Home", root_path %>
<%= link_to "Edit", edit_recipe_path %>
<%= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure ?"} %>